.navbar {
  background-color: #aa85a9; /* Couleur violette */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 8vh;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 30px;
}

.navbar a {
  color: #fffade;
  text-decoration: none;
  font-weight: bold;
}

.navbar .logo {
  width: 50px;
  height: 40px;
}

.navbar .cta-button {
  background-color: #631c66; /* Couleur plus foncée */
  color: #fffade;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-image: url("public/hero-image.webp");
  background-size: cover;
  background-position: center;
  height: 92vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffade;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Ajustez l'opacité pour l'effet désiré */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
  padding: 20px;
  border-radius: 10px;
}
